<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>262391776906-kps34g69dqromf49647m5rt4kirjb7kf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.262391776906-kps34g69dqromf49647m5rt4kirjb7kf</string>
	<key>API_KEY</key>
	<string>AIzaSyAjTF-Z3aYybrPYkIJ-iUnwY0yvUiS2_iE</string>
	<key>GCM_SENDER_ID</key>
	<string>262391776906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.hashbear.letsParty</string>
	<key>PROJECT_ID</key>
	<string>let-s-party-bb4ea</string>
	<key>STORAGE_BUCKET</key>
	<string>let-s-party-bb4ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:262391776906:ios:05c1e75fa8c4166c004f73</string>
	<key>DATABASE_URL</key>
	<string>https://let-s-party-bb4ea-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>